body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-form-button {
    width: 100%;
}

.log {
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text{
    margin-bottom: 10px;
}
